@tailwind base;
@tailwind components;
@tailwind utilities;

.highlight {
  background-color: #4CAF50!important;
  color: white!important;
}

.completed {
  background-color: yellow !important;
  color: black !important; 
}